@import url('https://fonts.cdnfonts.com/css/product-sans');
body {
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
                                                
    color: azure;

}
.textbox {
height: 28px;
width: 200px;
padding: 0 10px;  

margin: 4px 6px;
font-size: 16px;
border-radius: 5px;
outline-style: none;
text-align: left !important;



}
.cereate_acc_text:hover{
    color: white;

}

 
body {
    color: #4dbf00;
    font-family: sans-serif;

}

.movielist {
    display: block;
    width: auto;
    margin-left:30% ;
    margin-right:30% ;
    font-size: 17px;
   
}

.movieimg {
    margin-top: 30px;
    width: 600px;
    

}

.movietitle {
    display: block;
    font-size: 20px;
    /* font-weight: bold; */
    width: 100%;
   
    margin:  10px auto;
    margin-bottom: 0;
  
    color: #ffffff;
}

.moviedesc,
.moviecomments {
    display: block;
    font-size: 20px;
    /* font-weight: bold; */
    width: 100%;

    margin: 15px auto;

}

.moviecomments {
    position: relative;
    width: auto;
    max-width: 600px;
    font-family: 'Times New Roman', Times, serif;
    min-height: 28px;
    display: inline-block;
    margin-top:0;
    font-size: 18px;
    background-color: #ffffff;
    padding: 5px 20px;
 
    color:  black;
    border: 1px solid black;
    border-radius: 9px;
    
}

table,
tr {
 
    width: 100%;
    margin: auto;
}


textarea {
    outline:none;
    background-color: #f7f2c1;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 3px 10px;
    border: 1px solid red;
    border-radius: 8px;
    font-size: 17px;
    max-width: 600px;


}
.centered-div{
    text-align: center;
    
}
.hidden-delete-comment{
    display: inline;
     float: right;
     /* visibility: hidden; */
     margin: 0 2px 5px auto;
    color: rgb(185, 177, 177);
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    /* font-weight: bold; */

}
.hidden-delete-comment:hover{
   
     
    background-color: red;

}
 